*{
    margin: 0px;
    padding: 0px;
}

body{
    color:black;
    background-color: #F5E8C7;
    margin: 0 px;
    padding: 0 px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header{
    display: flex;
    flex-direction: row;
    font-size: 40px; 
    align-items: center;
    
}
nav,h1{
    
    list-style:none;
    font-size: smaller;
    
}
header{
    justify-content: space-around;
    background-color: lightcoral;
    
}


.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;
    text-decoration: none;
}
.nav-ul li{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.main-infancia{
    display:grid;
    grid-template-areas:
    "p img"
}

.main-infancia p{
    grid-area: p;
}

.main-infancia img{
    grid-area: img;
}
.main-infancia p{
    display: flex;
    align-items: center;
    margin: 10px;
}

.main-infancia img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#infancia{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.div{
    display: grid;
    grid-template-areas: 
    "img p"
}
.div-img{
    grid-area: img;
}
.div-p{
    grid-area: p;
}
.div-p{
    display: flex;
    align-items: center;
    margin-left: 10px;

}
.div-img{
    width: 250px ;
    height: 250px;
}
.div-img:hover{
    width: 400px;
    height: 400px;
    transition: 2s;
    margin-bottom: 50px;
}
#carrera{
    color: white;
    max-width: 1200px;
    background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.6)) , url("../img/magicfondo.jpg");
    background-position: top;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    margin: 2rem;
    margin-top: 40px;

}
